<table>
	<% @info.each do |pair|%>
	<% pair_id = pair[0] %>
	<% food = pair[1] %>
	<% music = pair[2] %>
	<tr>
		<td>
			<h3>Favorite this pairing!</h3>
			<% if @favorites.include?(pair_id) == false %>
				<%=link_to "Favorite This", favorite_path("suggestion" => pair_id), method: :post %>
			<% else %>
				One of your faves!
			<% end %>
<!-- 			favorite_path(:pair_id => pair) -->
<!-- 			image_tag("http://i.imgur.com/kh8F1Pr.png"), {method: "post", -->
		</td>
		<td>
			<%=image_tag("#{food.image_url}")%>
			<ul>
				<li><%= link_to food.name, food.url %></li>
				<li>Phone: <%= food.phone %></li>
				<li>Addess: <%= food.address %></li>
			</ul>
		</td>
		<td>
			<%= link_to "Spotify Link", music.url %>
			<iframe src="https://embed.spotify.com/?uri=spotify:user:#{paired_tune.uri}" width="300" height="250" frameborder="0" allowtransparency="true"></iframe>

		</td>
	</tr>
	<%end%>
</table>