<% if current_user %>
	<h2>Describe your desired tunes-takeout experience in one word:</h2>
	<%= form_tag search_path do %>
	  <%= label_tag :keyword %>
	  <%= text_field_tag :keyword %>
	  <%= submit_tag("Search") %>
	<% end %>
<% end %>


<h2>Top 20 Tune-Takeout Pairings</h2>
<%= render partial: 'suggestion' %>
