<h1>Describe in one word what you are looking for tonight</h1>
<%= form_tag root_path do %>
  <%= label_tag :keyword %>
  <%= text_field_tag :keyword %>
  <%= submit_tag %>
<% end %>

<%= render partial: 'suggestion' %>