<h1>Describe in one word what you are looking for tonight</h1>
<%= form_tag search_path do %>
  <%= label_tag :keyword %>
  <%= text_field_tag :keyword %>
  <%= submit_tag("Search") %>
<% end %>

<%= render partial: 'suggestion' %>
<iframe src="https://embed.spotify.com/?uri=spotify:user:spotify:album:2ISmuffluvod3dC48YlG8k" width="300" height="380" frameborder="0" allowtransparency="true"></iframe><br>
<iframe src="http://open.spotify.com/track/2TpxZ7JUBn3uw46aR7qd6V" width="300" height="380" frameborder="0" allowtransparency="true"></iframe>
<iframe src="http://open.spotify.com/artist/1jRxRdhY0kovY97tZqCEjs" width="300" height="380" frameborder="0" allowtransparency="true"></iframe>

<iframe src="https://embed.spotify.com/?uri=spotify:user:spotify:playlist:3rgsDhGHZxZ9sB9DQWQfuf" width="300" height="380" frameborder="0" allowtransparency="true"></iframe>




spotify:user:spotify:playlist:3rgsDhGHZxZ9sB9DQWQfuf

http://open.spotify.com/track/2TpxZ7JUBn3uw46aR7qd6V