<!DOCTYPE html>
<html>
<head>
  <title>TunesTakeout</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
   <link href='https://fonts.googleapis.com/css?family=Palanquin' rel='stylesheet' type='text/css'>
   <meta charset="UTF-8">
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
	<span>
		<h1>Welcome to Tunes and Takeout!</h1>
	</span>
	<nav>
		<% if current_user %> 
		  <%= link_to "Log Out", logout_path, method: :delete if current_user%>
		  <%= link_to "Favorites", favorites_path %>
		  Welcome <%= current_user.name %>!
		  <%= image_tag(current_user.photo) %>
		  <%= link_to "Profile", current_user.profile_link %>
		<% else %> 
  		<%= link_to "Log In", "/auth/spotify" unless current_user %>
		<% end %>
	</nav>

<%= yield %>

</body>
</html>
        